/* Add these styles to your Tailwind CSS file or styles */
.marquee-container {
    height: 120px; /* Set the height as per your requirement */
    overflow: hidden;
   
  }
  
  .marquee-item {
    margin: 0;
    padding: 10px;
    display: block;
    animation: marquee 10s linear infinite; /* Adjust the animation duration as needed */
    border-bottom: 2px solid #33333334;
    cursor: pointer;
  }
  .marquee-container:hover .marquee-item {
    animation-play-state: paused;
  }
  
  
  @keyframes marquee {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-800%);
    }
  }
  